.UserDialog-Wrapper {
    /*全屏*/
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /*内容居中*/
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background:#e8f6ff;
    background-size:cover;
}

.UserDialog {
    min-width: 340px;
    min-height: 50%;
    background: #fff;
    box-shadow: 0 0 1px #ccc;
    padding-top: 20px;
    position: relative;
}

.panes>form>.row {
    position: relative;
    padding-top: 10px;
}



.inputTitle {
    position: absolute;
    font-size: 16px;
    top: 30px;
    left: 35px;
    color: #ccc;
}

.signInOrSignUp>.panes form {
    width: 100%;
    margin-top: 20px;
}
.signUp{
    position:relative;
}
.signUp>img{
    position: absolute;
    top:-119px;
    left:0;
}
.signUp>img:hover{
    transform: scale(1.5)
}
.panes>form input {
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    width: 80%;
    margin: 20px 0;
    font-size: 18px;

}

.nv-wraper {
    border: none;
}

.border {
    position: absolute;
    top: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(to right, #60f3fd, #146cf3);
}

.signActions {
    padding-bottom: 30px;
}

.Button {
    width: 130px;
    height: 30px;
    color: #fff;
    border: none;
    border-radius: 30px;
    background: linear-gradient(to right, #8ae2ff, #3f8bff);
    margin: 0 auto;
    outline: none;
}
.Button:hover{
    animation: actions 1s infinite linear;
}

@keyframes actions{
    0%{
     opacity: 0.3;
    }
    50%{
     opacity:1;
    }
    100%{
     opacity:0.3;
    }
}

.logo {
    width: 100%;
    min-height: 80px;
    margin-left: 20px;
    margin-left: 0;
    text-align: center;
    position: relative;
}

.logo>img {
    width: 35px;
    position: absolute;
    right: 50%;
    margin-right: -23px;
    text-align: center;
    background: linear-gradient(to bottom, #1daad8, #3f8bff);
    border-radius: 4px;
    padding: 5px;
}

.logo>h4 {
    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: -21px;
}

.forgot {
    float: right;
    margin-top: -5px;
    margin-right: 35px;
    font-size: 10px;
    color: #6ddce4;
}

.signIn .actions {
    margin-top: 20px;
}

.login {
    font-size: 10px;
    border-top: 1px solid #ccc;
    margin-top: 20px;
    padding-top: 10px;
}

.login>a {
    color: #6ddce4;
}